/* @group ----- Typography ----- */

$base-font-size: 12px;
$base-line-height: 18px;

$spacing-unit: $base-line-height;
/* @end */

/* @group ----- Color ----- */

$base-font-color: #333;
$heading-font-color:#015581;
$link-font-color:#369;
$link-highlight-color:#ff8000;
/* @end */